<div class="card flex flex-col gap-4">
  <form #form="ngForm" novalidate class="flex flex-col gap-4">
    <div class="flex flex-col grow basis-0 gap-2">
      <p-floatlabel variant="in">
        <input pInputText type="text" id="codigo" #codigo="ngModel" class="w-100" name="codigo"
          [(ngModel)]="nuevoProducto.Codigo" required />
        <label for="codigo">Código</label>
      </p-floatlabel>
    </div>
    <div class="flex flex-col grow basis-0 gap-2">
      <p-floatlabel variant="in">
        <input pInputText type="text" id="nombre" class="w-100" #nombre="ngModel" name="nombre"
          [(ngModel)]="nuevoProducto.Nombre" required />
        <label for="nombre">Nombre</label>
      </p-floatlabel>
    </div>
    <div class="flex flex-col grow basis-0 gap-2">
      <app-select-chosen class="w-100" title="Tipo" [(ngModel)]="nuevoProducto.Tipo" name="tipo"
        placeholder="Tipo de producto" [dataSource]="tiposProductosCombo"
        (recargar)="cargarTiposProductosCombo()"></app-select-chosen>
    </div>
    <div class="flex flex-col grow basis-0 gap-2">
      <app-select-chosen class="w-100" title="marca" [(ngModel)]="nuevoProducto.Marca" name="marca"
        placeholder="Marca del producto" [dataSource]="marcasProductosCombo"
        (recargar)="cargarMarcasProductosCombo()"></app-select-chosen>
    </div>
    <div class="flex flex-col grow basis-0 gap-2">
      <app-select-chosen class="w-100" title="Categoria" [(ngModel)]="nuevoProducto.Categoria" name="categoria"
        placeholder="Categoria del producto" [dataSource]="categoriasProductosCombo"
        (recargar)="cargarCategoriasProductosCombo()"></app-select-chosen>
    </div>
    <div class="flex flex-col grow basis-0 gap-2">
      <app-select-chosen class="w-100" title="Proveedores" [multiple]="true" [(ngModel)]="nuevoProducto.Proveedores"
        name="proveedores" placeholder="Proveedores del producto" [dataSource]="proveedoresCombo"
        (recargar)="cargarProveedoresCombo()"></app-select-chosen>
    </div>
    <!-- Selección del tipo de código de barra -->
    <div class="flex flex-col grow basis-0 gap-2">
      <p-selectbutton [options]="opcionesCodigoBarra" (ngModelChange)="opcionCambio($event)" [(ngModel)]="modoCodigoBarra" name="modoCodigoBarra">
      </p-selectbutton>
    </div>

    <!-- Campo para escanear código de barra -->
    <div class="flex flex-col grow basis-0 gap-2" *ngIf="modoCodigoBarra === 'existente'">
      <p-floatlabel variant="in">
        <input pInputText type="text" id="codigoBarra" #codigoBarra="ngModel" class="w-100" name="codigoBarra"
          [(ngModel)]="nuevoProducto.CodigoBarra" readonly
          (keyup.enter)="procesarCodigoEscaneado()" />
        <label for="codigoBarra">Código Barra Existente</label>
      </p-floatlabel>
    </div>

    <!-- Campo para código de barra generado automáticamente -->
    <div class="flex flex-col grow basis-0 gap-2" *ngIf="modoCodigoBarra === 'propio'">
      <p-floatlabel variant="in">
        <input pInputText type="text" id="codigoBarraGenerado" class="w-100" name="codigoBarraGenerado"
          [(ngModel)]="nuevoProducto.CodigoBarra" readonly />
        <label for="codigoBarraGenerado">Código Barra Generado</label>
      </p-floatlabel>
      <p-button label="Generar" icon="pi pi-refresh" (click)="generarCodigoBarra()"></p-button>
    </div>
    <div class="flex flex-col grow basis-0 gap-2">
      <p-floatlabel variant="in">
        <p-inputnumber id="barcode" class="w-100" [(ngModel)]="nuevoProducto.PrecioCompra" name="precioCompra"
          id="precioCompra" [showButtons]="true" inputId="stacked" mode="currency" currency="ARG" />
        <label for="precioCompra">Precio Compra</label>
      </p-floatlabel>
    </div>
    <div class="flex flex-col grow basis-0 gap-2">
      <p-floatlabel variant="in">
        <p-inputnumber id="barcode" class="w-100" [(ngModel)]="nuevoProducto.PrecioVenta" name="precioVenta"
          id="precioVenta" [showButtons]="true" inputId="stacked" mode="currency" currency="ARG" />
        <label for="precioVenta">Precio Venta</label>
      </p-floatlabel>
    </div>
    <div class="flex justify-end gap-2 pt-4">
      <p-button label="Cancelar" icon="pi pi-times" class="p-button-outlined" (click)="cerrar()"></p-button>
      <p-button label="Guardar" severity="success" icon="pi pi-check" (click)="onSubmit()"
        [disabled]="!form.valid"></p-button>
    </div>
  </form>
</div>