<!-- producto-seleccionado.component.html -->
<div class="ps-dialog" tabindex="0" (keydown)="teclaPresionada($event)">

  <!-- Imagen -->
  <div class="ps-image-wrap">
    <img
      *ngIf="productoSeleccionado.Imagenes.length"
      [src]="apiUrl + '/uploads/producto-imagenes/' + productoSeleccionado.Imagenes[0]"
      class="ps-image" alt="Imagen del producto"
    />
    <img
      *ngIf="!productoSeleccionado.Imagenes.length"
      src="assets/no-imagen.jpg"
      class="ps-image"
    />
  </div>

  <!-- Info + controles -->
  <form #form="ngForm" novalidate class="ps-info">

    <div class="ps-product-name">{{ productoSeleccionado.Descripcion }}</div>

    <!-- Precios -->
    <div class="ps-prices">
      <div class="ps-price-block">
        <span class="ps-price-label">Precio unitario</span>
        <span class="ps-price-value">${{ productoSeleccionado.PrecioVenta }}</span>
      </div>
      <div class="ps-divider"></div>
      <div class="ps-price-block accent">
        <span class="ps-price-label">Subtotal</span>
        <span class="ps-price-value large">${{ subtotal }}</span>
      </div>
    </div>

    <!-- Cantidad -->
    <div class="ps-qty-section">
      <span class="ps-qty-label">Cantidad</span>
      <div class="ps-qty-row">
        <button type="button" class="ps-qty-btn minus" name="disminuirBoton" (click)="disminuirCantidad($event)">
          <i class="pi pi-minus"></i>
        </button>
        <input
          type="number"
          [(ngModel)]="cantidad"
          (ngModelChange)="cambiarCantidad($event)"
          class="ps-qty-input"
          min="1"
          name="cantidad"
          tabindex="0"
        />
        <button type="button" class="ps-qty-btn plus" name="aumentarBoton" (click)="aumentarCantidad($event)">
          <i class="pi pi-plus"></i>
        </button>
      </div>
    </div>

    <!-- Acciones -->
    <div class="ps-actions">
      <button type="button" class="ps-btn ps-btn-cancel" name="cancelar" (click)="cancelar()">
        <i class="pi pi-times"></i>
        Cancelar
      </button>
      <button type="button" class="ps-btn ps-btn-accept" name="aceptar" (click)="aceptar()" [disabled]="!form.valid">
        <i class="pi pi-check"></i>
        Agregar al carrito
      </button>
    </div>

  </form>
</div>