.producto-seleccionado{
  gap: 1rem;
}

.informacion {
  flex-direction: column;
  width: 100%;
}

.cantidad-input {
  width: 50px;
  text-align: center;
  border: none;
  background: transparent;
  outline: none;
  font-size: 1rem;
}

.descripcion-producto{
  font-size: 1.5rem;
}

::ng-deep .producto-seleccionado .p-button {
  width: 100%;
}


.botones{
  width: 60px;
}

.p-dialog {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}