<div class="card flex flex-col gap-4">
    <form #form="ngForm" novalidate class="flex flex-col gap-4">
        <div class="flex flex-col grow basis-0 gap-2">
            <p-floatlabel variant="in">
                <input pInputText type="text" id="empresa" #empresa="ngModel" class="w-100" name="username"
                    [(ngModel)]="nuevaEmpresa.Codigo" required />
                <label for="empresa">Empresa</label>
                <!-- @if (empresa.invalid && (empresa.touched || form.submitted)) {
                <p-message severity="error" size="small" variant="simple">Empresa es requerido.</p-message>
                } -->
            </p-floatlabel>
        </div>
        <div class="flex flex-col grow basis-0 gap-2">
            <p-floatlabel variant="in">
                <input pInputText type="text" id="descripcion" class="w-100" #descripcion="ngModel" name="descripcion"
                    [(ngModel)]="nuevaEmpresa.Descripcion" required />
                <label for="descripcion">Contraseña</label>
                <!-- @if (descripcion.invalid && (descripcion.touched || form.submitted)) {
                <p-message severity="error" size="small" variant="simple">Contraseña es requerido.</p-message>
                } -->
            </p-floatlabel>
        </div>
        <div class="flex flex-col grow basis-0 gap-2">
            <p-floatlabel variant="in">
                <input pInputText type="text" id="Cuit" class="w-100" #cuit="ngModel" name="Cuit"
                    [(ngModel)]="nuevaEmpresa.Cuit" required />
                <label for="cuit">Cuit</label>
                <!-- @if (cuit.invalid && (cuit.touched || form.submitted)) {
                <p-message severity="error" size="small" variant="simple">Cuit es requerido.</p-message>
                } -->
            </p-floatlabel>
        </div>
        <div class="flex flex-col grow basis-0 gap-2">
            <p-floatlabel variant="in">
                <input pInputText type="text" id="razonSocial" class="w-100" #razonSocial="ngModel" name="razonSocial"
                    [(ngModel)]="nuevaEmpresa.RazonSocial" required />
                <label for="razonSocial">Razón Social</label>
                <!-- @if (razonSocial.invalid && (razonSocial.touched || form.submitted)) {
                <p-message severity="error" size="small" variant="simple">Razón Social es requerido.</p-message>
                } -->
            </p-floatlabel>
        </div>
        <div class="flex flex-col grow basis-0 gap-2">
            <p-floatlabel variant="in">
                <input pInputText [(ngModel)]="nuevaEmpresa.Direccion" class="w-100" #direccion="ngModel" name="direccion" id="direccion" required />
                <label for="direccion">Dirección</label>
                <!-- @if (direccion.invalid && (direccion.touched || form.submitted)) {
                <p-message severity="error" size="small" variant="simple">Dirección es
                    requerido.</p-message>
                } -->
            </p-floatlabel>
        </div>
        <div class="flex flex-col grow basis-0 gap-2">
            <p-floatlabel variant="in">
                <input pInputText [(ngModel)]="nuevaEmpresa.Localidad" class="w-100" #localidad="ngModel" name="localidad" id="localidad" required />
                <label for="localidad">Localidad</label>
                <!-- @if (expiracion.invalid && (expiracion.touched || form.submitted)) {
                <p-message severity="error" size="small" variant="simple">Legajo es requerido.</p-message>
                } -->
            </p-floatlabel>
        </div>
        <div class="flex flex-col grow basis-0 gap-2">
            <p-floatlabel variant="in">
                <p-inputnumber [(ngModel)]="nuevaEmpresa.CodigoPostal" [useGrouping]="false" class="w-100" id="codigoPostal" inputId="codigoPostal" name="codigoPostal" mode="decimal" [min]="1" [max]="100000000" required />
                <label for="codigoPostal">Código Postal</label>
            </p-floatlabel>
        </div>
        <div class="flex flex-col grow basis-0 gap-2">
            <p-floatlabel variant="in">
                <textarea rows="5" id="observaciones" cols="30" name="observaciones" class="w-100" pTextarea
                    [(ngModel)]="nuevaEmpresa.Observaciones"></textarea>
                <label for="observaciones">Observaciones</label>
            </p-floatlabel>
        </div>
        <div class="flex justify-end gap-2 pt-4">
            <p-button label="Cancelar" icon="pi pi-times" class="p-button-outlined" (click)="cerrar()"></p-button>
            <p-button label="Guardar" severity="success" icon="pi pi-check" (click)="onSubmit()" [disabled]="!form.valid"></p-button>
        </div>
    </form>
</div>