::ng-deep .p-card .p-card-title,
::ng-deep .p-card .p-card-subtitle {
  text-align: center;
}

.producto-precio{
  text-align: center;
}

.h-150{
  height: 150px;
}

.w-70{
  width: 70%;
}

.card-hover {
  cursor: pointer;
  border: 4px solid transparent;
  border-radius: 17px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.card-hover:hover {
  border-color: #000;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.6); 
}