<div class="card flex flex-col gap-4">
  <form #form="ngForm" novalidate class="flex flex-col gap-4">
    <div class="flex flex-col grow basis-0 gap-2">
      <p-floatlabel variant="in">
        <input pInputText type="text" id="codigo" #codigo="ngModel" class="w-100" name="codigo"
          [(ngModel)]="nuevoProveedor.Codigo" required />
        <label for="codigo">Código</label>
      </p-floatlabel>
    </div>
    <div class="flex flex-col grow basis-0 gap-2">
      <p-floatlabel variant="in">
        <input pInputText type="text" id="descripcion" class="w-100" #descripcion="ngModel" name="descripcion"
          [(ngModel)]="nuevoProveedor.Descripcion" required />
        <label for="descripcion">Descripción</label>
      </p-floatlabel>
    </div>
    <div class="flex flex-col grow basis-0 gap-2">
      <p-floatlabel variant="in">
        <input pInputText type="text" id="Cuit" class="w-100" #cuit="ngModel" name="Cuit"
          [(ngModel)]="nuevoProveedor.Cuit" required />
        <label for="cuit">Cuit</label>
      </p-floatlabel>
    </div>
    <div class="flex flex-col grow basis-0 gap-2">
      <p-floatlabel variant="in">
        <p-inputnumber [(ngModel)]="nuevoProveedor.Telefono" [useGrouping]="false" class="w-100" id="telefono"
          inputId="telefono" name="telefono" mode="decimal" [min]="1" [max]="10000000000000000000" required />
        <label for="telefono">Teléfono</label>
      </p-floatlabel>
    </div>
    <div class="flex flex-col grow basis-0 gap-2">
      <p-floatlabel variant="in">
        <input pInputText type="text" id="Mail" class="w-100" #mail="ngModel" name="Mail"
          [(ngModel)]="nuevoProveedor.Email" required />
        <label for="mail">Mail</label>
      </p-floatlabel>
    </div>
    <div class="flex flex-col grow basis-0 gap-2">
      <p-floatlabel variant="in">
        <input pInputText [(ngModel)]="nuevoProveedor.Direccion" class="w-100" #direccion="ngModel" name="direccion"
          id="direccion" required />
        <label for="direccion">Dirección</label>
      </p-floatlabel>
    </div>
    <div class="flex flex-col grow basis-0 gap-2">
      <p-floatlabel variant="in">
        <p-inputnumber [(ngModel)]="nuevoProveedor.CodigoPostal" [useGrouping]="false" class="w-100" id="codigoPostal"
          inputId="codigoPostal" name="codigoPostal" mode="decimal" [min]="1" [max]="100000000" required />
        <label for="codigoPostal">Código Postal</label>
      </p-floatlabel>
    </div>
    <div class="flex flex-col grow basis-0 gap-2">
      <p-floatlabel variant="in">
        <textarea rows="5" id="observaciones" cols="30" name="observaciones" class="w-100" pTextarea
          [(ngModel)]="nuevoProveedor.Observaciones"></textarea>
        <label for="observaciones">Observaciones</label>
      </p-floatlabel>
    </div>
    <div class="flex justify-end gap-2 pt-4">
      <p-button label="Cancelar" icon="pi pi-times" class="p-button-outlined" (click)="cerrar()"></p-button>
      <p-button label="Guardar" severity="success" icon="pi pi-check" (click)="onSubmit()"
        [disabled]="!form.valid"></p-button>
    </div>
  </form>
</div>