<div class="card flex flex-col gap-4">
    <form #form="ngForm" novalidate class="flex flex-col gap-4">
        <div class="flex flex-col grow basis-0 gap-2">
            <p-floatlabel variant="in">
                <input pInputText type="text" id="usuario" #usuario="ngModel" class="w-100" name="usuario"
                    [(ngModel)]="usuarioEditar.Usuario" required />
                <label for="usuario">Usuario</label>
            </p-floatlabel>
        </div>
        <div class="flex flex-col grow basis-0 gap-2">
            <p-floatlabel variant="in">
                <input pInputText type="text" id="Mail" class="w-100" #mail="ngModel" name="Mail"
                    [(ngModel)]="usuarioEditar.Mail" required />
                <label for="mail">Mail</label>
            </p-floatlabel>
        </div>
        <div class="flex flex-col grow basis-0 gap-2">
            <p-floatlabel variant="in">
                <input pInputText type="text" id="legajo" class="w-100" #legajo="ngModel" name="legajo"
                    [(ngModel)]="usuarioEditar.Legajo" required />
                <label for="legajo">Legajo</label>
            </p-floatlabel>
        </div>
        <div class="flex flex-col grow basis-0 gap-2">
            <p-floatlabel variant="in">
                <p-inputnumber [(ngModel)]="usuarioEditar.IntentosConexion" type="number" class="w-100" [useGrouping]="false" id="intentosConexion" inputId="intentosConexion" name="intentosConexion" mode="decimal" [min]="1" [max]="100000000" required />
                <label for="intentosConexion">Intentos Conexión</label>
            </p-floatlabel>
        </div>
        <div class="flex flex-col grow basis-0 gap-2">
            <p-floatlabel variant="in">
                <p-inputnumber [(ngModel)]="usuarioEditar.ExpiracionTiempo" type="number" class="w-100" [useGrouping]="false" id="expiracion" inputId="expiracion" name="expiracion" mode="decimal" [min]="1" [max]="100000000" required />
                <label for="expiracion">Expiración (minutos)</label>
            </p-floatlabel>
        </div>
        <div class="flex flex-col grow basis-0 gap-2">
            <p-floatlabel class="w-100 md:w-56 relative" variant="in">
                <p-select [(ngModel)]="usuarioEditar.Rol" inputId="categoria" [options]="rolesDisponibles"
                optionLabel="Descripcion" class="w-100" variant="filled" name="rolUsuario" [filter]="true"
                [showClear]="true">
                </p-select>
                <label for="categoria">Rol</label>
            </p-floatlabel>
        </div>
        <div class="flex flex-col grow basis-0 gap-2">
            <p-floatlabel variant="in">
                <textarea rows="5" id="observaciones" cols="30" name="observaciones" class="w-100" pTextarea
                    [(ngModel)]="usuarioEditar.Observaciones"></textarea>
                <label for="observaciones">Observaciones</label>
            </p-floatlabel>
        </div>
        <div class="flex justify-end gap-2 pt-4">
            <p-button label="Cancelar" matTooltip="Cerrar editar proveedor" icon="pi pi-times" class="p-button-outlined" (click)="cerrar()" [disabled]="cargando"></p-button>
            @if(usuarioEditar.Activo){
                <p-button label="Eliminar" severity="danger" matTooltip="Eliminar proveedor" icon="pi pi-trash"  (click)="eliminarUsuario()" [disabled]="cargando"></p-button>
            }@else{
                <p-button label="Reactivar" severity="info" matTooltip="Reactivar proveedor"  icon="pi pi-unlock"  (click)="reactivarUsuario()" [disabled]="cargando"></p-button>
            }
            <p-button label="Guardar" severity="success" matTooltip="Guardar proveedor" icon="pi pi-check" (click)="onSubmit()" [disabled]="!form.valid || cargando"></p-button>
        </div>
    </form>
</div>