<div class="card">
  <form #form="ngForm" novalidate class="grid-formulario" [ngStyle]="gridStyles">
    <div class="col-span-1">
      <p-floatlabel variant="in">
        <input pInputText type="text" id="codigo" #codigo="ngModel" class="w-100" name="codigo"
          [(ngModel)]="productoEditar.Codigo" required />
        <label for="codigo">Código</label>
      </p-floatlabel>
    </div>

    <div class="col-span-1">
      <p-floatlabel variant="in">
        <input pInputText type="text" id="nombre" class="w-100" #nombre="ngModel" name="nombre"
          [(ngModel)]="productoEditar.Nombre" required />
        <label for="nombre">Nombre</label>
      </p-floatlabel>
    </div>

    <div class="col-span-1">
      <p-floatlabel class="w-100 md:w-56 relative" variant="in">
        <p-select [(ngModel)]="productoEditar.Tipo" inputId="in_label" [options]="tiposProductosCombo"
          optionLabel="Descripcion" class="w-100" variant="filled" name="productoTipo" [filter]="true" [showClear]="true"
          optionValue="Id">
        </p-select>
        <label for="in_label">Tipo</label>
      </p-floatlabel>
    </div>

    <div class="col-span-1">
      <p-floatlabel class="w-100 md:w-56 relative" variant="in">
        <p-select [(ngModel)]="productoEditar.Marca" inputId="in_label" [options]="marcasProductosCombo"
          optionLabel="Descripcion" class="w-100" variant="filled" name="productoMarca" [filter]="true" [showClear]="true"
          optionValue="Id">
        </p-select>
        <label for="in_label">Marca</label>
      </p-floatlabel>
    </div>

    <div class="col-span-1">
      <p-floatlabel class="w-100 md:w-56 relative" variant="in">
        <p-select [(ngModel)]="productoEditar.Categoria" inputId="in_label" [options]="categoriasProductosCombo"
          optionLabel="Descripcion" class="w-100" variant="filled" name="productoCategoria" [filter]="true" [showClear]="true"
          optionValue="Id">
        </p-select>
        <label for="in_label">Categoria</label>
      </p-floatlabel>
    </div>

    <div class="col-span-1">
      <p-floatlabel class="w-100 md:w-56 relative" variant="in">
        <p-multiSelect  [(ngModel)]="productoEditar.Proveedores" inputId="in_label" [options]="proveedoresCombo"
          optionLabel="Descripcion" class="w-100" variant="filled" name="proveedores" [filter]="true" [showClear]="true"
          optionValue="Id">
        </p-multiSelect>
        <label for="in_label">Proveedores</label>
      </p-floatlabel>
    </div>

    <div class="col-span-1">
      <p-floatlabel variant="in">
        <p-inputnumber id="precioCompra" class="w-100" [(ngModel)]="productoEditar.PrecioCompra" name="precioCompra"
          [showButtons]="true" inputId="stacked" mode="currency" currency="ARG" />
        <label for="precioCompra">Precio Compra</label>
      </p-floatlabel>
    </div>

    <div class="col-span-1">
      <p-floatlabel variant="in">
        <p-inputnumber id="precioVenta" class="w-100" [(ngModel)]="productoEditar.PrecioVenta" name="precioVenta"
          [showButtons]="true" inputId="precioVenta" mode="currency" currency="ARG" />
        <label for="precioVenta">Precio Venta</label>
      </p-floatlabel>
    </div>

    <div class="col-span-full flex justify-end gap-2 pt-4">
      <p-button label="Cancelar" icon="pi pi-times" class="p-button-outlined" [disabled]="cargando"
        (click)="cerrar()"></p-button>

      @if(productoEditar.Activo){
      <p-button label="Eliminar" severity="danger" matTooltip="Eliminar producto" icon="pi pi-trash"
        (click)="eliminarProducto()" [disabled]="cargando"></p-button>
      }@else{
      <p-button label="Reactivar" severity="info" matTooltip="Reactivar producto" icon="pi pi-unlock"
        (click)="reactivarProducto()" [disabled]="cargando"></p-button>
      }

      <p-button label="Guardar" severity="success" icon="pi pi-check" (click)="onSubmit()" [disabled]="!form.valid">
      </p-button>
    </div>
  </form>
</div>