<p-toast [showTransitionOptions]="'250ms'" [showTransformOptions]="'translateX(100%)'" [hideTransitionOptions]="'150ms'"
    [hideTransformOptions]="'translateX(100%)'" />
<div class="botonera-flotante">
    <div class="botonera-contenedor">
        <button mat-mini-fab color="primary" matTooltip="Crear una nueva compra" (click)="onSubmit()">
            <i class="fa-solid fa-square-plus"></i>
        </button>
    </div>
</div>
<div class="card">
    <div class="font-semibold text-xl mb-4">Nueva Compra</div>
    <p-table #grillaCompras [value]="nuevaCompra.Items" dataKey="Id" [rows]="10" [rowHover]="true"
        [showGridlines]="true" [paginator]="true"
        [globalFilterFields]="['Producto.Nombre', 'Proveedor.Nombre', 'Cantidad', 'PrecioUnitario', 'Subtotal']"
        responsiveLayout="scroll">

        <ng-template #caption>
            <form #form="ngForm">
                <div class="flex flex-wrap items-center gap-2">
                    <div class="flex flex-col w-20 gap-0">
                        <p-floatlabel class="w-100 md:w-56 relative" variant="in">
                            <p-select [(ngModel)]="productoSeleccionado" inputId="producto" [options]="productosCombo"
                                optionLabel="Descripcion" class="w-100" variant="filled" name="producto" [filter]="true"
                                (onChange)="productoSeleccionadoEvent($event.value)" [showClear]="true"
                                (onClear)="limpiarProductoSeleccionado()" optionValue="Id">
                            </p-select>
                            <label for="producto">Producto</label>
                        </p-floatlabel>
                    </div>
                    <div class="flex flex-col w-20 gap-0">
                        <p-floatlabel class="w-100 md:w-56 relative" variant="in">
                            <p-select [(ngModel)]="nuevoItem.Proveedor" inputId="proveedor" [options]="proveedoresCombo"
                                optionLabel="Descripcion" class="w-100" variant="filled" name="proveedor"
                                [filter]="true" [showClear]="true">
                            </p-select>
                            <label for="proveedor">Proveedor</label>
                        </p-floatlabel>
                    </div>
                    <div class="flex flex-col gap-0">
                        <p-floatlabel variant="in">
                            <p-inputnumber [(ngModel)]="nuevoItem.Cantidad" name="cantidad" inputId="cantidad"
                                [showButtons]="true" mode="decimal" (ngModelChange)="cantidadCambio($event)"
                                [required]="true" [min]="1" />
                            <label for="cantidad">Cantidad</label>
                        </p-floatlabel>
                    </div>
                    <div class="flex flex-col gap-0">
                        <p-floatlabel variant="in">
                            <p-inputnumber [(ngModel)]="nuevoItem.Subtotal" name="subtotal" inputId="subtotal"
                                [showButtons]="true" mode="decimal" readonly [min]="0" />
                            <label for="subtotal">Subtotal</label>
                        </p-floatlabel>
                    </div>
                </div>
            </form>
            <div class="flex flex-wrap items-center gap-2">
                <p-button label="Nuevo item"
                    [disabled]=" !nuevoItem.Producto || !nuevoItem.Cantidad || nuevoItem.Cantidad <= 0" class="mt-2"
                    icon="pi pi-plus-circle" (click)="crearNuevoItem()" />
            </div>
        </ng-template>

        <ng-template #header>
            <tr>
                <th>
                    <div class="flex justify-between items-center">
                        Producto
                        <p-columnFilter type="text" field="Producto.Nombre" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-between items-center">
                        Proveedor
                        <p-columnFilter type="text" field="Proveedor.Nombre" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-between items-center">
                        Cantidad
                    </div>
                </th>
                <th>
                    <div class="flex justify-between items-center">
                        Precio Unitario
                    </div>
                </th>
                <th>
                    <div class="flex justify-between items-center">
                        Subtotal
                    </div>
                </th>
                <th>
                    <div class="flex justify-between items-center">
                        Acciones
                    </div>
                </th>
            </tr>
        </ng-template>

        <ng-template #body let-compraItem>
            <tr (click)="editarItem(compraItem.Id)" class="cursor-pointer">
                <td>{{ compraItem.Producto?.Nombre }}</td>
                <td>{{ compraItem.Proveedor?.Descripcion }}</td>
                <td>
                    <p-button icon="pi pi-minus" styleClass="p-button-rounded p-button-danger p-button-sm custom-shadow"
                        [style]="{'font-size':'1.2rem'}"
                        (onClick)="disminuirCantidad($event, compraItem)">
                    </p-button>

                    <input type="number" [(ngModel)]="compraItem.Cantidad"
                        (ngModelChange)="cambiarCantidad($event, compraItem)" class="cantidad-input" min="1"
                        style="width: 60px; text-align: center; margin: 0 6px;">

                    <p-button icon="pi pi-plus" styleClass="p-button-rounded p-button-success p-button-sm custom-shadow"
                        [style]="{'font-size':'1.2rem'}"
                        (onClick)="aumentarCantidad($event, compraItem)">
                    </p-button>
                </td>
                <td>{{ compraItem.PrecioUnitarioCompra | currency:'ARS':'symbol' }}</td>
                <td style="width: 25%;">{{ compraItem.Subtotal | currency:'ARS':'symbol' }}</td>
                <td>
                    <p-button icon="pi pi-trash"
                        styleClass="p-button-rounded p-button-danger p-button-outlined p-button-sm custom-shadow"
                        [style]="{'font-size':'1.5rem'}" pTooltip="Eliminar item" (onClick)="eliminarItem(compraItem)">
                    </p-button>
                </td>
            </tr>
        </ng-template>

        <ng-template #emptymessage>
            <tr>
                <td colspan="6">No se cargaron ítems de compra.</td>
            </tr>
        </ng-template>
    </p-table>
</div>