<div class="card flex flex-col gap-4">
    <form #form="ngForm" novalidate class="flex flex-col gap-4">
        <div class="flex flex-col grow basis-0 gap-2">
            <p-floatlabel variant="in">
                <input pInputText type="text" id="usuario" #usuario="ngModel" class="w-100" name="usuario"
                    [(ngModel)]="nuevoUsuario.Usuario" required />
                <label for="usuario">Usuario</label>
            </p-floatlabel>
        </div>
        <div class="flex flex-col grow basis-0 gap-2">
            <p-floatlabel variant="in">
                <input pInputText type="text" id="contrasenia" class="w-100" #contrasenia="ngModel" name="contrasenia"
                    [(ngModel)]="nuevoUsuario.Contrasenia" required />
                <label for="contrasenia">Contraseña</label>
            </p-floatlabel>
        </div>
        <div class="flex flex-col grow basis-0 gap-2">
            <p-floatlabel variant="in">
                <input pInputText type="text" id="Mail" class="w-100" #mail="ngModel" name="Mail"
                    [(ngModel)]="nuevoUsuario.Mail" required />
                <label for="mail">Mail</label>
            </p-floatlabel>
        </div>
        <div class="flex flex-col grow basis-0 gap-2">
            <p-floatlabel variant="in">
                <input pInputText type="text" id="legajo" class="w-100" #legajo="ngModel" name="legajo"
                    [(ngModel)]="nuevoUsuario.Legajo" required />
                <label for="legajo">Legajo</label>
            </p-floatlabel>
        </div>
        <div class="flex flex-col grow basis-0 gap-2">
            <p-floatlabel variant="in">
                <p-inputnumber [(ngModel)]="nuevoUsuario.IntentosConexion" [useGrouping]="false" class="w-100" id="intentosConexion" inputId="intentosConexion" name="intentosConexion" mode="decimal" [min]="1" [max]="100000000" required />
                <label for="intentosConexion">Intentos Conexión</label>
            </p-floatlabel>
        </div>
        <div class="flex flex-col grow basis-0 gap-2">
            <p-floatlabel variant="in">
                <p-inputnumber [(ngModel)]="nuevoUsuario.ExpiracionTiempo" [useGrouping]="false" class="w-100" id="expiracion" inputId="expiracion" name="expiracion" mode="decimal" [min]="1" [max]="100000000" required />
                <label for="expiracion">Expiración (minutos)</label>
            </p-floatlabel>
        </div>
        <div class="flex flex-col grow basis-0 gap-2">
            <p-floatlabel variant="in">
                <textarea rows="5" id="observaciones" cols="30" name="observaciones" class="w-100" pTextarea
                    [(ngModel)]="nuevoUsuario.Observaciones"></textarea>
                <label for="observaciones">Observaciones</label>
            </p-floatlabel>
        </div>
        <div class="flex justify-end gap-2 pt-4">
            <p-button label="Cancelar" icon="pi pi-times" class="p-button-outlined" (click)="cerrar()"></p-button>
            <p-button label="Guardar" severity="success" icon="pi pi-check" (click)="onSubmit()" [disabled]="!form.valid"></p-button>
        </div>
    </form>
</div>