<p-table class="text-xs" [paginator]="true" [rows]="15" [value]="productosSeleccionados">
    <ng-template #header>
      <tr class="py-1">
        <th>Descripcion</th>
        <th>Cantidad</th>
        <th>Total</th>
      </tr>
    </ng-template>
    <ng-template #body let-producto>
      <tr class="py-1">
        <td class="py-1">{{ producto.Descripcion }}</td>
        <td class="py-1">{{ producto.Cantidad }}</td>
        <td class="py-1">{{ producto.Total }}</td>
      </tr>
    </ng-template>
</p-table>