<div class="botonera-flotante">
    <div class="botonera-contenedor">
        <button mat-mini-fab color="accent" matTooltip="Cargar el stock" (click)="obtenerProductos()">
            <i class="fa-solid fa-arrows-rotate"></i>
        </button>
    </div>
</div>
<div class="card">
    <div class="font-semibold text-xl mb-4">Stock</div>
    <p-table #grillaStock [value]="productos" dataKey="Id" [rows]="10" [loading]="cargando" [rowHover]="true"
        [showGridlines]="true" [paginator]="true"
        [globalFilterFields]="['Producto', 'StockActual','StockMinimo','StockReservado','UltimaActualizacion']"
        responsiveLayout="scroll">
        <ng-template #caption>
            <div class="flex justify-between items-center flex-column sm:flex-row">
                <p-iconfield iconPosition="left">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input #filter pInputText class="w-50vw" type="text"
                        (input)="filtrarStock(grillaStock, $event)" placeholder="Buscar" />
                </p-iconfield>
            </div>
            <div class="flex items-center flex-column sm:flex-row mt-3 gap-4">
                <button pButton label="Limpiar filtros" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
                    (click)="limpiarFiltrado(grillaStock)"></button>

                <button pButton label="Bajo stock" class="p-button-warning mb-2" icon="pi pi-angle-double-down"
                    (click)="filtrarBajoStock()"></button>

                <button pButton label="Sin stock" class="p-button-danger mb-2" icon="pi pi-times-circle"
                    (click)="filtrarSinStock()"></button>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th style="min-width: 12rem">
                    <div class="flex justify-between items-center">
                        Producto
                        <p-columnFilter type="text" field="Producto.Nombre" display="menu"
                            placeholder="Buscar por nombre"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width: 10rem">
                    <div class="flex justify-between items-center">
                        Stock Actual
                    </div>
                </th>
                <th style="min-width: 10rem">
                    <div class="flex justify-between items-center">
                        Stock Reservado
                    </div>
                </th>
                <th style="min-width: 10rem">
                    <div class="flex justify-between items-center">
                        Ultima Actualización
                        <p-columnFilter type="date" field="UltimaActualizacion" display="menu"
                            placeholder="Buscar por ultima actualización"></p-columnFilter>
                    </div>
                </th>
            </tr>
        </ng-template>

        @if(!cargando){
        <ng-template #body let-productoStock>
            <tr class="cursor-pointer">
                <td>{{ productoStock.Producto.Nombre }}</td>
                <td>{{ productoStock.StockActual }}</td>
                <td>{{ productoStock.StockReservado }}</td>
                <td>{{ productoStock.UltimaActualizacion | date: 'dd/MM/yyyy' }}</td>
            </tr>
        </ng-template>
        }
        <ng-template #emptymessage>
            <tr>
                <td colspan="8">No se encontro stock.</td>
            </tr>
        </ng-template>
        <ng-template #loadingbody>
            <tr>
                <td colspan="8">Cargando stock...</td>
            </tr>
        </ng-template>
    </p-table>
</div>