@charset "UTF-8";
@use "tailwindcss";
@use '@angular/material' as mat;
@import "primeicons/primeicons.css";


html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media (width >= 48rem) {
    .md\:w-80 {
        width: 170px !important;
    }
}

.full-width{
    width: 100%;
}

.boton-eliminar{
  background: red !important;
  color: white !important;
}

.w-100{
  width: 100%;
}

input.ng-invalid.ng-touched,
p-inputnumber.ng-invalid.ng-touched > .p-inputtext {
  border: 1px solid red;
}

input.ng-invalid.ng-touched,
p-inputnumber.ng-invalid.ng-touched > .p-inputnumber {
  border: 1px solid red;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}